@import url("styles/header.css");
@import url("styles/card.css");


:root {
    --cor-vermelho-principal: #e94141;
    --cor-body-principal: #f5f6f7;
    --cor-branco-principal: #FFFFFF;
    --cinza-principal: #97979d;
    --branco-secundario: #f5f6f7;
}



body {
    background: var(--cor-body-principal);
   
}