.rodape{
   margin: 0;
    width: auto;
    height: auto;
    background-color: var(--dragao);
    bottom: 0;
 
}

.rodape__informacao{
    text-align: center;
    justify-content: center;
    font-family: var(--fonte-principal);
    color: var(--cor-branco-principal);
    font-size: 8px;
    padding: 16px;
}