.container__banner{
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    background-color: var(--cor-vermelho-principal);
}

.logo__header{
    height: 35px;

                                                      

}


